@import "../../styles/colors.module.scss";

.navbar {
    position: sticky;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: $background_secondary;

    padding: 0 200px;
    min-height: 70px;

    box-shadow: 0px -4px 20px black;
}

.navigation {
    display: flex;
    align-items: center;
}

.pages {
    display: flex;
    align-items: center;

    margin-right: 200px;
}

.mobilePages {
    display: flex;
    align-items: center;

    display: none;
    width: 3em;
}

.userContainer {
    display: flex;
    align-items: center;
    gap: 20px;
}

.balanceKey {
    font-size: medium;
    color: gray;
}

.headerLogo {
    cursor: pointer;
    width: 100px;
    margin-left: 100px;
    margin-right: 100px;
}

.profile_picture {
    margin-left: 50px;
    border-radius: 50px;
    width: 3em;
}

@keyframes opacityHover {
  from {opacity: 1;}
  to {opacity: 0.7;}
}

.profile_picture:hover {
    cursor: pointer;
    animation-name: opacityHover;
    animation-fill-mode: forwards;  
    animation-duration: 0.3s;
}

.navbarUser {
    display: flex;
}

@media screen and (max-width: 1500px) {
    .navbar {
        padding: 0 60px;
        justify-content: space-between;
    }
    .headerLogo {
        margin-left: 50px;
        margin-right: 50px;
    }
    .pages {
        margin-right: 120px;
    }
}

@media screen and (max-width: 1250px) {
    .navbar {
        padding: 0 40px;
        justify-content: space-between;
    }
    .headerLogo {
        margin-left: 40px;
        margin-right: 40px;
    }
    .pages {
        margin-right: 0;
    }
}

@media screen and (max-width: 1024px) {
    .navbar {
        padding: 0 20px;
        justify-content: space-between;
    }
    .headerLogo {
        margin-left: 20px;
        margin-right: 20px;
    }    
    .balanceKey {
        display: none;
    }
    .balanceValue {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .pages {
        display: none;
    }
    .mobilePages {
        display: inline;
        width: 100px;
    }
    .navbar {
        padding: 0 20px;
        justify-content: space-between;
    }
    .headerLogo {
        width: 100px;
        margin: 0;
    }
}