@import "../../styles/colors.module.scss";

.container {
    display: flex;
    flex-direction: column;

    width: 100%;
}

.title {
    font-size: xx-large;
    color: white;

    text-align: center;

    margin-bottom: 60px;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    background-color: $background_secondary;

    padding: 20px 20px 20px 40px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.paymentText {
    font-size: large;
    color: lightgray;
}

.paymentTotal {
    font-size: large;
}

.paymentDetails {
    display: flex;
    flex-direction: column;

    width: 100%;

    margin-bottom: 30px;
}

.paymentSummary {
    display: flex;
    flex-direction: column;

    width: 40%;

    padding: 40px 130px 40px 70px;
}

.selectedTable {
    display: flex;
    flex-direction: column;

    width: 49%;

    padding: 0 130px 20px 110px;
}

.tableDetailsTitle {
    font-size: x-large;
    color: white;

    text-align: center;
    margin-bottom: 30px;
}

.tableDetails {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.infoText {
    font-size: medium;
    color: gray;
}

.infoImage {
    width: 60px;
    aspect-ratio: 1;
}

.divider {
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 15px;
    height: 80%;
    width: 10%;

    border-left: 3px solid $background;
}

.arrowImage {
    width: 60px;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;

    padding: 100px;
}

@media screen and (max-width: 1024px) {
    .paymentSummary {
        padding: 10px;
    }
    .selectedTable {
        padding: 10px;
    }
}

@media screen and (max-width: 768px) {
    .content {
        flex-direction: column;
        justify-content: flex-start;
        padding: 20px 100px;
    }
    .paymentSummary {
        width: 100%;
        padding: 20px;
    }
    .selectedTable {
        width: 100%;
        padding: 20px;
    }
    .divider {
        display: none;
    }
    .buttonContainer {
        padding: 50px;
    }
}

@media screen and (max-width: 572px) {
    .content {
        padding: 10px 60px;
    }
}

@media screen and (max-width: 480px) {
    .content {
        padding: 10px;
    }
}
