$primary: #7000FF;
$primary_dark: #4803a1;
$secondary: #FFFFFF;
$secondary_dark: #ededed;
$error: #FCC5D8;
$background: #1E1E1E;
$background_secondary: #2C2C2C;

:export {
    primary: $primary;
    primary_dark: $primary_dark;
    secondary: $secondary;
    seocondary_dark: $secondary_dark;
    error: $error;
    background: $background;
    background_secondary: $background_secondary;
}

// For Mobile Devices – 320px — 480px.
// iPads and Tablets – 481px — 768px.
// Laptops and small screen – 769px — 1024px.
// Large screens and Desktops – 1025px — 1200px.
// TV and Extra Large Screens – 1201px and more.

@media screen and (max-width: 1700px) {
}

@media screen and (max-width: 1500px) {
}

@media screen and (max-width: 1250px) {
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 850px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 480px) {
}