@import './colors.module.scss';

.background {
    background-color: $background_secondary !important;
}

.reservation_button:hover {
    background-color: $primary_dark;
}

.login_button:hover {
    background-color: $secondary_dark;
}