.main {
    padding: 100px 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    box-sizing: border-box;
}

@media screen and (max-width: 1700px) {
    .main {
        padding: 80px 150px;
    }
}

@media screen and (max-width: 1500px) {
    .main {
        padding: 60px 100px;
    }
}

@media screen and (max-width: 1250px) {
    .main {
        padding: 30px;
    }
}

@media screen and (max-width: 850px) {
    .main {
        padding: 15px;
    }
}

@media screen and (max-width: 768px) {
    .main {
        padding: 110px;
    }
}

@media screen and (max-width: 600px) {
    .main {
        padding: 70px;
    }
}

@media screen and (max-width: 480px) {
    .main {
        padding: 0;
    }
}
